C 0 0 "+_CONTROL_-_SWITCH_#1" 0 0 0 0 60 0 L
X "PIN_TEXT" "+_CONTROL_-_SWITCH_#1" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "-_CONTROL_-_SWITCH_#1" 0 -100 0 0 60 0 L
X "PIN_TEXT" "-_CONTROL_-_SWITCH_#1" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 0 -200 "+_CONTROL_-_SWITCH_#2" 0 -200 0 0 60 0 L
X "PIN_TEXT" "+_CONTROL_-_SWITCH_#2" 230 -230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -200 0 -200 -1 0
C 0 -300 "-_CONTROL_-_SWITCH_#2" 0 -300 0 0 60 0 L
X "PIN_TEXT" "-_CONTROL_-_SWITCH_#2" 230 -330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -300 0 -300 -1 0
C 2800 0 "LOAD_-_SWITCH_#1_2" 2800 0 0 0 60 0 R
X "PIN_TEXT" "LOAD_-_SWITCH_#1_2" 2570 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 2600 0 2800 0 -1 0
C 2800 -100 "LOAD_-_SWITCH_#1_1" 2800 -100 0 0 60 0 R
X "PIN_TEXT" "LOAD_-_SWITCH_#1_1" 2570 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 2600 -100 2800 -100 -1 0
C 2800 -200 "LOAD_-_SWITCH_#2_2" 2800 -200 0 0 60 0 R
X "PIN_TEXT" "LOAD_-_SWITCH_#2_2" 2570 -230 0 0.00 60 0 0 2 0 0 1 0 74
L 2600 -200 2800 -200 -1 0
C 2800 -300 "LOAD_-_SWITCH_#2_1" 2800 -300 0 0 60 0 R
X "PIN_TEXT" "LOAD_-_SWITCH_#2_1" 2570 -330 0 0.00 60 0 0 2 0 0 1 0 74
L 2600 -300 2800 -300 -1 0
L 200 100 2600 100 -1 0
L 2600 -400 2600 100 -1 0
L 2600 -400 200 -400 -1 0
L 200 100 200 -400 -1 0
P "$LOCATION" "?" 2650 270 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

